3.MIDDLEWARE/1.SOA/2.SOA/TOURESBALON_SOA/SOA/WSDLs/OrderService_2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
     name="OrderService"
     targetNamespace="http://touresBalon.com/schema/OrderService"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:ns2="http://touresBalon.com/schema/orders"
     xmlns:tns="http://touresBalon.com/schema/OrderService"
     xmlns:xs="http://www.w3.org/2001/XMLSchema"
    >
    <plnk:partnerLinkType name="OrderServices">
        <plnk:role name="OrderService" portType="tns:OrderService"/>
    </plnk:partnerLinkType>    
    <wsdl:types>
        <xsd:schema xmlns:tns="http://touresBalon.com/schema/orders">
            <xsd:import namespace="http://touresBalon.com/schema/orders" schemaLocation="../Schemas/xsd/OrderCanonicalModel.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="createOrderRequest">
        <wsdl:part name="parameters" element="ns2:createOrderRequest"/>
    </wsdl:message>
    <wsdl:message name="createOrderResponse">
        <wsdl:part name="parameters" element="ns2:createOrderResponse"/>
    </wsdl:message>
    <wsdl:message name="updateOrderRequest">
        <wsdl:part name="parameters" element="ns2:updateOrderRequest"/>
    </wsdl:message>
    <wsdl:message name="updateOrderResponse">
        <wsdl:part name="parameters" element="ns2:updateOrderResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteOrderRequest">
        <wsdl:part name="parameters" element="ns2:deleteOrderRequest"/>
    </wsdl:message>
    <wsdl:message name="deleteOrderResponse">
        <wsdl:part name="parameters" element="ns2:deleteOrderResponse"/>
    </wsdl:message>
    <wsdl:message name="getOrderRequest">
        <wsdl:part name="parameters" element="ns2:getOrderRequest"/>
    </wsdl:message>
    <wsdl:message name="getOrderResponse">
        <wsdl:part name="parameters" element="ns2:getOrderResponse"/>
    </wsdl:message>
    <wsdl:portType name="OrderService">
        <wsdl:operation name="createOrder">
            <wsdl:input message="tns:createOrderRequest"/>
            <wsdl:output message="tns:createOrderResponse"/>
        </wsdl:operation>
        <wsdl:operation name="updateOrder">
            <wsdl:input message="tns:updateOrderRequest"/>
            <wsdl:output message="tns:updateOrderResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteOrder">
            <wsdl:input message="tns:deleteOrderRequest"/>
            <wsdl:output message="tns:deleteOrderResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getOrder">
            <wsdl:input message="tns:getOrderRequest"/>
            <wsdl:output message="tns:getOrderResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OrderServiceSOAP" type="tns:OrderService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createOrder">
            <soap:operation soapAction="http://avianca.com/ServicioWebcreateBooking"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateOrder">
            <soap:operation soapAction="http://avianca.com/ServicioWebcreateBooking"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteOrder">
            <soap:operation soapAction="http://avianca.com/ServicioWebcreateBooking"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOrder">
            <soap:operation soapAction="http://avianca.com/ServicioWebcreateBooking"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OrderService">
        <wsdl:port name="OrderServiceSOAP" binding="tns:OrderServiceSOAP">
            <soap:address location="http://localhost:7003/OrderService/orderManagment"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
