3.MIDDLEWARE/1.SOA/1. OSB_FRONT/OrderServiceFront/Resources/OrderFrontRestService.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://touresBalon.com/schema/ordersFront" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="OrderFrontRestService">RestService</doc>
   <grammars>
      <xsd:schema xmlns:tns="http://touresBalon.com/schema/ordersFront" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://touresBalon.com/schema/ordersFront" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://touresBalon.com/schema/ordersFront" schemaLocation="xsd/OrderFront.xsd"/>
    </xsd:schema>
   </grammars>
   <resources>
      <resource path="/order">
         <method name="POST" soa:wsdlOperation="createOrder">
            <request>
               <representation mediaType="application/json" element="cns:createOrderRequest" xmlns:cns="http://touresBalon.com/schema/ordersFront"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:createOrderResponse" xmlns:cns="http://touresBalon.com/schema/ordersFront"/>
            </response>
         </method>
         <method name="GET" soa:wsdlOperation="getOrder">
            <request soa:paramElement="pns:getOrderRequest" xmlns:pns="http://touresBalon.com/schema/ordersFront">
               <param name="documentType" style="query" soa:expression="$msg.parameters/tns:customerInfo/tns:documentType" type="xsd:string"/>
               <param name="document" style="query" soa:expression="$msg.parameters/tns:customerInfo/tns:document" type="xsd:long"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:getOrderResponse" xmlns:cns="http://touresBalon.com/schema/ordersFront"/>
            </response>
         </method>
         <method name="PUT" soa:wsdlOperation="updateOrder">
            <request>
               <representation mediaType="application/json" element="cns:updateOrderRequest" xmlns:cns="http://touresBalon.com/schema/ordersFront"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:updateOrderResponse" xmlns:cns="http://touresBalon.com/schema/ordersFront"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
