3.MIDDLEWARE/1.SOA/3.OSB_BACK/ESB_COMMONS/Resources/WSDL/ServicioWebAvianca.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Products"
                  xmlns:ns2="http://touresBalon.com/schema/products"
                  targetNamespace="http://touresBalon.com/schema/products" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema xmlns:tns="http://touresBalon.com/schema/products">
      <xsd:import namespace="http://touresBalon.com/schema/products"
                  schemaLocation="../Schemas/xsd/ProductsCanonicalModel.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="productRequest">
    <wsdl:part element="ns2:productRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="productResponse">
    <wsdl:part element="ns2:productResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateProductRequest">
    <wsdl:part element="ns2:updateProductRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateProductResponse">
    <wsdl:part element="ns2:updateProductResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteProductRequest">
    <wsdl:part element="ns2:deleteProductRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteProductResponse">
    <wsdl:part element="ns2:deleteProductResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getProductRequest">
    <wsdl:part element="ns2:getProductRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getProductResponse">
    <wsdl:part element="ns2:getProductResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="Products">
    <wsdl:operation name="crateProduct">
      <wsdl:input message="ns2:productRequest"/>
      <wsdl:output message="ns2:productRequest"/>
    </wsdl:operation>
    <wsdl:operation name="updateProduct">
      <wsdl:input message="ns2:updateProductRequest"/>
      <wsdl:output message="ns2:updateProductResponse"/>
    </wsdl:operation>
    <wsdl:operation name="deleteProduct">
      <wsdl:input message="ns2:deleteProductRequest"/>
      <wsdl:output message="ns2:deleteProductResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getProduct">
      <wsdl:input message="ns2:getProductRequest"/>
      <wsdl:output message="ns2:getProductResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProductsSOAP" type="ns2:Products">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="crateProduct">
      <soap:operation soapAction="http://avianca.com/ServicioWebcreateBooking"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProduct">
      <soap:operation soapAction="http://avianca.com/ServicioWebcreateBooking"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteProduct">
      <soap:operation soapAction="http://avianca.com/ServicioWebcreateBooking"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProduct">
      <soap:operation soapAction="http://avianca.com/ServicioWebcreateBooking"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Products">
    <wsdl:port binding="ns2:ProductsSOAP" name="ProductsSOAP">
      <soap:address location="http://localhost:7001/Products"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
