4.BACK/1.MockServices/1.SOAP/1.Avianca/ServicioWebAvianca.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioWebAvianca"
	xmlns:ns2="http://avianca.com/ServicioWebAvianca"
	targetNamespace="http://avianca.com/ServicioWebAvianca"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema xmlns:tns="http://avianca.com/ServicioWebAvianca">
			<xsd:import namespace="http://avianca.com/ServicioWebAvianca"
				schemaLocation="AviancaOperations.xsd" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="createBookingRequest">
		<wsdl:part element="ns2:createBookingRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="createBookingResponse">
		<wsdl:part element="ns2:createBookingResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="cancelBookingRequest">
		<wsdl:part element="ns2:cancelBookingRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="cancelBookingResponse">
		<wsdl:part element="ns2:cancelBookingResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:portType name="ServicioWebAvianca">
		<wsdl:operation name="createBooking">
			<wsdl:input message="ns2:createBookingRequest" />
			<wsdl:output message="ns2:createBookingResponse" />
		</wsdl:operation>
		<wsdl:operation name="cancelBooking">
			<wsdl:input message="ns2:cancelBookingRequest" />
			<wsdl:output message="ns2:cancelBookingResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ServicioWebAviancaSOAP"
		type="ns2:ServicioWebAvianca">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="createBooking">
			<soap:operation
				soapAction="http://avianca.com/ServicioWebcreateBooking" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="cancelBooking">
			<soap:operation
				soapAction="http://avianca.com/ServicioWebcancelBooking" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ServicioWebAvianca">
		<wsdl:port binding="ns2:ServicioWebAviancaSOAP"
			name="ServicioWebAviancaSOAP">
			<soap:address location="http://localhost:7001/ServicioWebAvianca" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
