3.MIDDLEWARE/ServicesConsultData/ConsultMasterDataProduct/ProductUpdate.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TouresBalonOMS.ProductosSoap" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/TouresBalonOMS.ProductosSoap"><xs:complexType name="OTProductUpdate"><xs:sequence><xs:element minOccurs="0" name="CiudadDestino" type="xs:long"/><xs:element minOccurs="0" name="CiudadOrigen" type="xs:long"/><xs:element minOccurs="0" name="CodigoProducto" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Costo" type="xs:decimal"/><xs:element minOccurs="0" name="DescripcionEvento" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Espectaculo" type="xs:long"/><xs:element minOccurs="0" name="Fecha_Espectaculo" type="xs:dateTime"/><xs:element minOccurs="0" name="Fecha_Partida" type="xs:dateTime"/><xs:element minOccurs="0" name="Fecha_llegada" type="xs:dateTime"/><xs:element minOccurs="0" name="Hospedaje" type="xs:long"/><xs:element minOccurs="0" name="ID" type="xs:long"/><xs:element minOccurs="0" name="ImagenURL" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="NombreProducto" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Transporte" type="xs:long"/><xs:element minOccurs="0" name="responseMSJ" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="OTProductUpdate" nillable="true" type="tns:OTProductUpdate"/></xs:schema>