3.MIDDLEWARE/ServicesConsultData/ConsultMasterDataProduct/ProductCreate.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TouresBalonOMS.ProductosSoap" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/TouresBalonOMS.ProductosSoap"><xs:complexType name="OTProdutCreate"><xs:sequence><xs:element name="CiudadDestino" type="xs:long"/><xs:element name="CiudadOrigen" type="xs:long"/><xs:element name="CodigoProducto" nillable="true" type="xs:string"/><xs:element name="Costo" type="xs:decimal"/><xs:element name="DescripcionEvento" nillable="true" type="xs:string"/><xs:element name="Espectaculo" type="xs:long"/><xs:element name="Fecha_Espectaculo" type="xs:dateTime"/><xs:element name="Fecha_Partida" type="xs:dateTime"/><xs:element name="Fecha_llegada" type="xs:dateTime"/><xs:element name="Hospedaje" type="xs:long"/><xs:element name="ID" type="xs:long"/><xs:element name="ImagenURL" nillable="true" type="xs:string"/><xs:element name="NombreProducto" nillable="true" type="xs:string"/><xs:element name="Transporte" type="xs:long"/><xs:element minOccurs="0" name="responseMSJ" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="OTProdutCreate" nillable="true" type="tns:OTProdutCreate"/></xs:schema>