3.MIDDLEWARE/1.SOA/3.OSB_BACK/TransportService/Schemas/AAFlightsService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AAFlightsService"
	xmlns:ns2="http://americanAirlines.com/AAFlightsService"
	targetNamespace="http://americanAirlines.com/AAFlightsService"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema xmlns:tns="http://americanAirlines.com/AAFlightsService">
			<xsd:import namespace="http://americanAirlines.com/AAFlightsService"
				schemaLocation="AmericanAirlines.xsd" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="createBookingRequest">
		<wsdl:part element="ns2:createBookingRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="createBookingResponse">
		<wsdl:part element="ns2:createBookingResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="cancelBookingRequest">
		<wsdl:part element="ns2:cancelBookingRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="cancelBookingResponse">
		<wsdl:part element="ns2:cancelBookingResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:portType name="AAFlightsService">
		<wsdl:operation name="createBooking">
			<wsdl:input message="ns2:createBookingRequest" />
			<wsdl:output message="ns2:createBookingResponse" />
		</wsdl:operation>
		<wsdl:operation name="cancelBooking">
			<wsdl:input message="ns2:cancelBookingRequest" />
			<wsdl:output message="ns2:cancelBookingResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AAFlightsServiceSOAP"
		type="ns2:AAFlightsService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="createBooking">
			<soap:operation
				soapAction="http://americanAirlines.com/AAFlightsService" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="cancelBooking">
			<soap:operation
				soapAction="http://americanAirlines.com/AAFlightsService" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AAFlightsService">
		<wsdl:port binding="ns2:AAFlightsServiceSOAP"
			name="AAFlightsServiceSOAP">
			<soap:address location="http://localhost:7001/AAFlightsService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
